* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: red;
}

p{margin-bottom: 15px; margin-top:10; font-size: 18px;color: #444;}

.clearfix {
  overflow: auto;
}

.wrapper {
  margin: 0 auto;
  width: 1000px;
}

.top-bar {
  width: 1000px;
  background: maroon;
}

.top-bar-links {
  float: left;
}

.top-bar-links ul {
  list-style: none;
  margin: 15px;
}

.top-bar-links ul li {
  padding: 0 10px;

  display: inline-block;
  border-right: 1px solid white;
}

.top-bar-links ul li:last-child {
  border: none;
}

.top-bar-links ul li a {
  color: white;
}

.site-search {
  padding: 4px 5px 3px 10px;
  margin: 15px;
  float: right;
  background: white;
  border-radius: 10px;

}

.site-search input{
    border: 0;
    float: left;
}

.site-search button {
    width: 18px;
    height: 18px;
    background: url(../img/icons/search.png);
    border: none;
    float: right;
}

header .logo {
    float: left;
    margin-top: 30px;
    margin-left: 20px;

}

header .logo h1 {
    font-size: 48px;
    font-weight:normal;
    letter-spacing: -1px;
    font-variant: small-caps;
}

header .logo p {
    margin-top:0;
}

header .socialmedia {
    float: right;
    margin-top: 50px;
    margin-right: 20px;
}
header .socialmedia ul {
  
    list-style: none;
   
}
header .socialmedia ul li {display: inline;}

header .socialmedia ul li a {
    
    margin-left: 2px;
    padding: 8px;
    background: #444;
    color: #fff;
    display: inline-block;
    border-radius: 20px;

}

header .socialmedia ul li a:hover{

    background: orange;
      
}

nav{
    margin-top: 20px;
    background:#444;
    background: linear-gradient(#333,#444,#333);
    text-align: center;
    border-radius: 5px;
}

nav ul{
    list-style: none;
}

nav ul li{
    display: inline;
}

nav ul li a{
    color: #fff;
    text-transform: uppercase;
    margin: 10px 40px 10px 40px ;
    display: inline-block;
}

nav ul li a:hover{
    color : orange;
}

div.intro{
    width: 970px;
    margin:15px;   
    margin-bottom: 0;
}

div.intro div.introimage {
   
    float: left;
   
}


div.intro div.introtext{

    width: 570px;
    float: right;
}

div.introtext h1{

    font-weight:normal;
    margin-top: 100px;
    font-size:72;
    text-transform: uppercase;
}

div.introtext p{
    margin-top:10px;
    font-size: 18px;

}

div.introtext a{
    text-transform: uppercase;
    float: right;

}

div.homecontent{
    width:1000px;
    background: #eee;
    margin-bottom: 15px;
    padding-bottom:15px;
}

div.home-col{
    margin-left:15;
    width:313.33px;
      float: left;
}

div.home-col img{
    width:313.33px;

}

div.home-col h2{

    margin: 30px 0 30px 0;
    font: size 30px;
    font-weight: normal;
}

div.services{
    margin-bottom: 20px;
}

div.home-col a{
    float: right;
}

div.services img{
    width: 64px;
    float: left;
    margin-right: 15px;
}

div.services p{
    margin-top:0;
}

div.quote{
    float: left;
}

div.quote i {

    float: left;
}

div.quote h3{
    margin: top 20px;
    margin-left: 15px;
    float: left;
}

div.quote p{
    clear: both;
}